CSS
/* CSS BY EUNBI WILSON */

/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video 
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ROOT VARIABLES */
:root{
    --teal:#4CA7C0;
    --purple:#484FB7;
    --lavender:#6b8fe7;
    --yellow:#e9bb57;
    --pink:#d9526f;
    --dark-gray:#1e1e1e;
    --white:#ffffff;

    --font-body: 'Inter', sans-serif;
    --font-h1-h2: 'Kavoon', cursive;
    --h1-size:3em;
    --nav-h2-size:1.5em;
    --h2-size:2em;
    --h3-size:1.5em;
    --h4-size:1.15em;
}

/* GLOBAL STYLES (mobile first/small) */

h1 {
    font-family: var(--font-h1-h2);
    font-size: var(--h1-size);
    text-align: center;
}
h2 {
    font-family: var(--font-h1-h2);
    font-size: var(--h2-size);
}
h3 {
    font-size: var(--h3-size);
    color: var(--yellow);
}

h4 {
    font-size: var(--h4-size);
    color: var(--purple);
}
h2, h3, h4 {
    font-weight: bold;
}
article {
    background-color: var(--white);
    color: var(--dark-gray);
    padding: 16px;
    margin-bottom: 16px;
    border-radius: 12px;
}
nav {
    background-color: var(--yellow);
    text-align: center;
    padding: 16px;
    margin-top: 10px;
    margin-bottom: 16px;
    border-radius: 12px;
}

nav h2{
    color: var(--dark-gray);
    text-transform: uppercase;
    font-family: Inter;

}
nav li{
    background-color: var(--white);
    color: var(--purple);
    list-style: none;
    padding: 12px;
    border-radius: 6px;
    font-weight: bold;
}
nav ul {
    display: flex;
    flex-direction: column;
    gap: 8px; 
}

#why {
    background-color: var(--pink);
    text-align: center;
}
#why h2{
    color: var(--white);
    font-family: var(--font-h1-h2);
    text-align: left;
}
#why li {
    color:var(--dark-gray);
    list-style: none;
    font-weight: bold;
    padding: 16px; 
    border-radius: 10px;
    text-align: center;
}
#why ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px; 
    margin-top: 16px; 
}
.teal{
    background-color: var(--teal);
}
.lavender {
    background-color: var(--lavender);
}
.yellow{
    background-color: var(--yellow);
}
.white{
    background-color: var(--white);
}


#step {
    background-color: var(--pink) !important;
    text-align: left;
    padding: 32px 16px;
    margin-bottom: 16px;
    border-radius: 12px;
}
#step p {
    margin: 16px 0; 
    font-size: 14px; 
}
.container {
    width: 450px;
    max-width: 450px;
    min-width: 450px;
    box-sizing: border-box;
    background-color: var(--purple);
    margin: 0 auto;
    padding: 16px;
}

header {
    text-align: center;
    padding: 32px 16px;
}
header p {
     margin-top: 8px;
    font-size: 14px;
}
section {
    padding: 24px 16px; }
article {
    border-radius: 12px;
    padding: 16px; 
    margin: 16px 0; 
}

article h4 {
    margin-bottom: 8px; 
    font-weight: bold;
}
article p {
    font-size: 14px; 
    line-height: 1.4;
}
article span {
    font-size: 32px; 
    display: block;
    margin-bottom: 8px; 
}
table {
    width: 100%;
    margin: 16px 0; 
    background-color: var(--white);
    color: var(--dark-gray);
    border-radius: 8px;
    overflow: hidden;
}
th {
    background-color: var(--yellow);
    padding: 8px; 
    text-align: left;
}

td {
    padding: 8px; 
    border-top: 1px #ffffff;
}
a.button {
    display: inline-block;        
    block-size: auto;      
    padding: 14px 28px;                 
    background-color: var(--white);    
    color: var(--dark-gray);
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    border-radius: 12px;
    border: 2px solid var(--dark-gray);
    transition: all 0.3s ease;
    cursor: pointer;
    margin-top: 16px;     
    align-content: center;              
}
footer {
    text-align: center;
    font-size: 12px; 
    padding: 16px; 
}
h2, h3 {
    margin-bottom: 8px;
}
body {
    font-family: var(--font-body);
    color: var(--white);
    background-color: var(--lavender);
    margin: 0;
    display: block;
}
footer a{
    margin: 0 16px;
}